openapi: 3.1.0
info:
  title: Portfolio API
  version: 1.0.0
  description: API for the public portfolio, blog administration, and letterbox.
  license:
    name: All rights reserved
servers:
  - url: https://api.shogomorisawa.me
  - url: http://localhost:8000
tags:
  - name: Health
    description: Runtime and database readiness.
  - name: Articles
    description: Publicly readable blog content.
  - name: Authentication
    description: Administrator session lifecycle.
  - name: Letterbox
    description: Visitor letters and one-time replies.
  - name: Administration
    description: Authenticated content and letter management.

security: []
paths:
  /health:
    get:
      tags: [Health]
      summary: Check process health
      operationId: health
      responses:
        "200":
          description: Process is serving requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /health/ready:
    get:
      tags: [Health]
      summary: Check process and database readiness
      operationId: ready
      responses:
        "200":
          description: Process and database are ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /articles:
    get:
      tags: [Articles]
      summary: List published articles
      operationId: listPublishedArticles
      responses:
        "200":
          description: Published articles without their TipTap bodies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ArticleSummary"
  /articles/{slug}:
    parameters:
      - $ref: "#/components/parameters/ArticleSlug"
    get:
      tags: [Articles]
      summary: Get a published article
      operationId: getPublishedArticle
      responses:
        "200":
          description: Published article.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Article"
        "404":
          $ref: "#/components/responses/NotFound"
  /auth/login:
    post:
      tags: [Authentication]
      summary: Start an administrator session
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginInput"
      responses:
        "200":
          $ref: "#/components/responses/Session"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Rotate and refresh an administrator session
      operationId: refreshSession
      responses:
        "200":
          $ref: "#/components/responses/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/session:
    get:
      tags: [Authentication]
      summary: Get the current administrator session
      operationId: getSession
      security:
        - accessCookie: []
      responses:
        "200":
          $ref: "#/components/responses/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/logout:
    post:
      tags: [Authentication]
      summary: End the administrator session
      operationId: logout
      security:
        - accessCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      responses:
        "204":
          description: Session revoked and cookies cleared.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /letterbox/letters:
    post:
      tags: [Letterbox]
      summary: Submit a visitor letter
      operationId: submitLetter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LetterInput"
      responses:
        "201":
          description: Letter persisted. A letterbox cookie may be created.
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [id]
                    properties:
                      id:
                        type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "422":
          $ref: "#/components/responses/ValidationError"
  /letterbox/replies:
    get:
      tags: [Letterbox]
      summary: List unread replies for this visitor
      operationId: listUnreadReplies
      responses:
        "200":
          description: Unread replies for the opaque letterbox cookie.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PublicReply"
  /letterbox/read-receipts:
    post:
      tags: [Letterbox]
      summary: Mark visitor replies as read
      operationId: markRepliesRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [letterIds]
              properties:
                letterIds:
                  type: array
                  minItems: 1
                  maxItems: 50
                  uniqueItems: true
                  items:
                    type: integer
                    minimum: 1
      responses:
        "200":
          description: Read receipt result.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [updated]
                    properties:
                      updated:
                        type: integer
        "422":
          $ref: "#/components/responses/ValidationError"
  /admin/articles:
    get:
      tags: [Administration]
      summary: List all articles for administration
      operationId: listAdminArticles
      security:
        - accessCookie: []
      responses:
        "200":
          description: Draft and published article summaries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ArticleSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Administration]
      summary: Create an article
      operationId: createArticle
      security:
        - accessCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        $ref: "#/components/requestBodies/ArticleWrite"
      responses:
        "201":
          $ref: "#/components/responses/Article"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /admin/articles/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Administration]
      summary: Get an article for administration
      operationId: getAdminArticle
      security:
        - accessCookie: []
      responses:
        "200":
          $ref: "#/components/responses/Article"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      tags: [Administration]
      summary: Update an article
      operationId: updateArticle
      security:
        - accessCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        $ref: "#/components/requestBodies/ArticleWrite"
      responses:
        "200":
          $ref: "#/components/responses/Article"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      tags: [Administration]
      summary: Delete an article
      operationId: deleteArticle
      security:
        - accessCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      responses:
        "204":
          description: Article deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /admin/media:
    post:
      tags: [Administration]
      summary: Upload an article image
      operationId: uploadMedia
      security:
        - accessCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "201":
          description: Uploaded media URL.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [url]
                    properties:
                      url:
                        type: string
                        format: uri
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
  /admin/letters:
    get:
      tags: [Administration]
      summary: List visitor letters for administration
      operationId: listAdminLetters
      security:
        - accessCookie: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Paginated letters, including private email addresses.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/LetterPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/letters/{id}/reply:
    put:
      tags: [Administration]
      summary: Reply to a visitor letter
      operationId: replyToLetter
      security:
        - accessCookie: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reply]
              properties:
                reply:
                  type: string
                  minLength: 1
                  maxLength: 5000
      responses:
        "200":
          description: Updated letter.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/AdminLetter"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /admin/letters/{id}:
    delete:
      tags: [Administration]
      summary: Delete a visitor letter
      operationId: deleteLetter
      security:
        - accessCookie: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/CsrfToken"
      responses:
        "204":
          description: Letter deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    accessCookie:
      type: apiKey
      in: cookie
      name: __Host-admin_access
      description: A 15-minute JWT. The opaque refresh token uses a separate HttpOnly cookie.
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
    ArticleSlug:
      name: slug
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
    CsrfToken:
      name: X-CSRF-Token
      in: header
      required: true
      schema:
        type: string
  requestBodies:
    ArticleWrite:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ArticleInput"
  responses:
    Session:
      description: Active session. Access and refresh tokens are set as HttpOnly cookies.
      headers:
        Set-Cookie:
          schema:
            type: string
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: "#/components/schemas/Session"
    Article:
      description: Article.
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: "#/components/schemas/Article"
    BadRequest:
      description: Malformed request or failed bot challenge.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Authentication failed or expired.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: CSRF validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Immutable or duplicate resource state.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ValidationError:
      description: Input validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Internal error with no implementation details.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    HealthResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [status]
          properties:
            status:
              type: string
    Session:
      type: object
      required: [user, csrfToken]
      properties:
        user:
          type: object
          required: [id, username]
          properties:
            id:
              type: integer
            username:
              type: string
        csrfToken:
          type: string
    LoginInput:
      type: object
      required: [username, password, turnstileToken]
      properties:
        username:
          type: string
        password:
          type: string
          format: password
        turnstileToken:
          type: string
        website:
          type: string
          description: Honeypot. Legitimate clients leave this empty.
    LetterInput:
      type: object
      required: [name, message, turnstileToken]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 80
        email:
          type: [string, "null"]
          format: email
          maxLength: 254
        message:
          type: string
          minLength: 1
          maxLength: 5000
        turnstileToken:
          type: string
        website:
          type: string
          description: Honeypot. Legitimate clients leave this empty.
    ArticleInput:
      type: object
      required: [title, category, tags, description, body, publish]
      properties:
        slug:
          type: string
          maxLength: 100
          pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          description: Required during creation and immutable afterward.
        title:
          type: string
          minLength: 1
          maxLength: 150
        category:
          type: string
          enum: [tech, psychology]
        tags:
          type: array
          maxItems: 10
          uniqueItems: true
          items:
            type: string
            minLength: 1
            maxLength: 30
        description:
          type: string
          maxLength: 300
        body:
          type: object
          required: [type]
          properties:
            type:
              const: doc
          additionalProperties: true
        thumbnail_url:
          type: [string, "null"]
          format: uri
        publish:
          type: boolean
    ArticleSummary:
      type: object
      required: [id, slug, title, category, tags, description, published_at, created_at, updated_at]
      properties:
        id:
          type: integer
        slug:
          type: string
        title:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        description:
          type: string
        thumbnail_url:
          type: [string, "null"]
          format: uri
        published_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Article:
      allOf:
        - $ref: "#/components/schemas/ArticleSummary"
        - type: object
          required: [body]
          properties:
            body:
              type: object
              additionalProperties: true
    PublicReply:
      type: object
      required: [id, name, message, reply, replied_at, created_at]
      properties:
        id:
          type: integer
        name:
          type: string
        message:
          type: string
        reply:
          type: string
        replied_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    AdminLetter:
      type: object
      required: [id, name, message, reply_read, created_at, legacy]
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: [string, "null"]
          format: email
        message:
          type: string
        reply:
          type: [string, "null"]
        replied_at:
          type: [string, "null"]
          format: date-time
        reply_read:
          type: boolean
        created_at:
          type: string
          format: date-time
        legacy:
          type: boolean
    LetterPage:
      type: object
      required: [items, total, page, limit]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AdminLetter"
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code:
              type: string
            message:
              type: string
            requestId:
              type: string
            fields:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
