parameters:
    level: 8
    paths:
        - src/Article
        - src/Auth
        - src/Bootstrap
        - src/Letter
        - src/Media
        - src/Shared
        - bin/create-admin.php
        - docker/entrypoint.php
        - tests
    tmpDir: .phpstan-cache
    treatPhpDocTypesAsCertain: false
